{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}">
{% elsif site.keywords %}
<meta name="keywords" content="{{ site.keywords }}">
{% endif %}

{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% elsif site.description %}
<meta name="description" content="{{ site.description }}">
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

<!-- <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}"> -->
 
<link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/md.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
